<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="${toolkitUri}"></script>
    <script type="text/javascript" src="${scriptUri}"></script>
    <link rel="stylesheet" href="${styleUri}">
    <link rel="stylesheet" href="${codiconsUri}">
</head>

<body>
    <h2>Generate with Parameters: ${componentName} ${componentType} </h2>
    <div class="form-container" id="genparmform">
    </div>
    <vscode-button class="button-footer" appearance="primary" id="generate-with-parms">Generate</vscode-button>
    <vscode-button class="button-footer" appearance="secondary" id="cancel-generate-with-parm">Cancel</vscode-button>
</body>

</html>